.card {
  background: #0e0e0eaa;
  backdrop-filter: blur(10px);
  padding: 24px;
  border-radius: 16px;
  border: 1px solid #ffffff22;
  margin: 20px auto;
  width: 100%;
  max-width: 760px;
  color: white;
}

.title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 6px;
}

.subtitle {
  font-size: 14px;
  color: #cccccc;
  margin-bottom: 16px;
}

.textarea {
  width: 100%;
  background: #1a1a1a;
  border: 1px solid #333;
  height: 90px;
  padding: 10px;
  color: white;
  border-radius: 10px;
  margin-bottom: 12px;
}

.select,
.input {
  width: 100%;
  background: #1f1f1f;
  border: 1px solid #444;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 12px;
}

.button {
  width: 100%;
  background: #ff5ceb;
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: white;
  margin-bottom: 20px;
}

.resultBox {
  margin-top: 20px;
  background: #00000033;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #ffffff22;
}

.sectionTitle {
  font-size: 20px;
  margin-bottom: 14px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.label {
  color: #aaaaaa;
}

.value {
  font-weight: 600;
}

.colors {
  display: flex;
  margin-top: 10px;
  gap: 6px;
}

.colorBox {
  width: 38px;
  height: 38px;
  border-radius: 8px;
  border: 1px solid #ffffff44;
}

.quoteBox {
  margin-top: 20px;
  padding: 14px;
  background: #262626;
  border-radius: 8px;
  text-align: center;
}

.quote {
  font-style: italic;
  font-size: 14px;
}

.audioBox {
  margin-top: 20px;
}

.audioPlayer {
  width: 100%;
}
